* {
    text-decoration: none;
    color: $color-black;
}


// NAVBAR
.font-logo {
    font-family: $font-serif;
    font-weight: $weight-regular;
    font-size: 2.5rem;
    color: $color-black;
    
    &:hover {
        color: $color-gold;
    }
}

.font-menu a {
    font-family: $font-sans;
    font-weight: $weight-bold;
    font-size: 0.85rem;
    text-transform: uppercase;
    color: $color-black;    
        &:hover {
            color: $color-gold;
            transition: all .2s linear;            
        }
    }

.font-title {
    font-family: $font-serif;
    font-weight: $weight-medium;
    color: $color-black;
}

.font-paragraph {
    font-family: $font-sans;
    font-weight: $weight-semibold;
    color: $color-gray;    
}

.navbar-container {
    background-color: rgba(255,255,255,0.75);
    height: 3.5rem;
}

.button > i:hover {    
    color: $color-gold;    
}

.form-control:focus {
    // border-color: $color-gold;    
    box-shadow: 0 0 0 0.2rem $color-gold-transparent;
    transition: all .2s linear;
}

#search-field {
    background-color: $color-soft;
    border: 0;
    border-radius: 2rem;
    width: 12rem;
}

.btn-blank {
    background-color: rgba(0,0,0,0);
    color: $color-black;    
    border: none;
}

i:hover {
    color: $color-gold;
}


// GALLERY
#gallery a:hover::before {
    content: "Veure detall";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-gray;
    
    opacity: 0.25;
    z-index: 1;
        
    text-align: center;
    line-height: 100px;
    font-family: $font-serif;
    font-weight: $weight-regular;
    font-size: 1rem;
    color: white;

    transition: all 5s linear;
}


// FOOTER
.footer {
    padding: 25px 0;
    text-align: center;
    background-color: $color-black;
    span.copyright {
      font-size: 1rem;
      line-height: 40px;
      text-transform: none;
      font-family: $font-serif;
      font-weight: $weight-medium;
      color: $color-gray;
    }
    ul.quicklinks {
      font-size: 0.80rem;
      line-height: 40px;
      margin-bottom: 0;
      text-transform: none;           
      li {
          a {              
            font-family: $font-sans;
            color: $color-soft;
            text-decoration: none; 
            &:hover {
                color: $color-gold;
            }
          }
      }  
    }
  }
  
  ul.social-buttons {
    margin-bottom: 0;
    li {
      a {
        font-size: 15px;
        line-height: 30px;
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        outline: none;
        background-color: $color-gray;
        &:hover {
            background-color: $color-gold;
        }
        i {
            color: $color-black;
        }
      }
    }
  }




    