@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$font-serif: 'Playfair Display', serif;
$font-sans: 'Montserrat', sans-serif;

$weight-light:    300;
$weight-regular:  400;
$weight-medium:   500;
$weight-semibold: 600;
$weight-bold:     700;

$color-black: #222;
$color-gold: #c29958;
$color-gold-transparent: rgba(194, 153, 88, 0.25);
$color-gray: #555;
$color-soft: #f7f7f7;